# Entornos Virtuales
env/
venv/
.env

# Artefactos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos Locales
data/dataset/*
!data/dataset/.gitkeep
data/users_data.json 

# Modelos ML (Archivos grandes)
models/*.pkl
models/*.h5
models/*.xml

# Archivos del SO
.DS_Store
Thumbs.db
